<!DOCTYPE html>
<html>
<head>
    <title>Edit Ticket Sales</title>
</head>
<body>
<h1>Edit Ticket Sales</h1>
<form action="/ticket_sales/update" method="get">
    <input type="hidden"
           id="TICKET_NUM"
           name="TICKET_NUM"
           value="<%= ticket_sales.TICKET_NUM %>"
    />
    Ticket PRICE: <input
            id="PRICE"
            name="PRICE"
            type="text"
            value="<%= ticket_sales.PRICE %>"
    />
    FK MOVIE: <input
            id="MOVIE_ID"
            name="MOVIE_ID"
            type="hidden"
            value="<%= ticket_sales.MOVIE_ID %>"
    />
    Ticket STREET: <input
            id="CINEMA_ID"
            name="CINEMA_ID"
            type="hidden"
            value="<%= ticket_sales.CINEMA_ID %>"
    />
    CINEMA STATE: <input
            id="AUDITORIUM_ID"
            name="AUDITORIUM_ID"
            type="hidden"
            value="<%= ticket_sales.AUDITORIUM_ID %>"
    />



    <br />


    <br />

    <input type="submit" />

</form>
</body>
</html>