<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            text-shadow: 2px 2px white;
        }
        center {
            margin: auto;
            width: 50%;
            border: 3px solid black;
            padding: 10px;
        }
        h2 {
            font-weight: bolder;
            font-size: large;
        }
    </style>
    <title> Ticket Sales - Add</title>
</head>
<body style="background-color:powderblue;">

<body>
<center
<div style="width:140px; margin_left:170px;">
    <h2 style="color: black;"> Add New Ticket Sale</h2>
</div>

<form action="/ticket_sales/insert" method="get">
    Ticket Sales PRICE: <input name ="PRICE" type="text" /><br/>
    <br/>


    <th style="color: powderblue; background-color:black;">Movie:</th>

    <select id="MOVIE_ID" name="MOVIE_ID">
        <%for(var i = 0; movie.length > i; i++) { %>
        <option value="<%= movie[i].MOVIE_ID %>"> <%= movie[i].MOVIE_NAME %> </option>
        <% } %>
    </select>
    <br/>
    <br>


    <th style="color: powderblue; background-color:black;">Cinema:</th>

    <select id="CINEMA_ID" name="CINEMA_ID">
        <%for(var i = 0; cinema.length > i; i++) { %>
        <option value="<%= cinema[i].CINEMA_ID %>"> <%= cinema[i].CINEMA_NAME %> </option>
        <% } %>
    </select>
    <br/>

<br>

    <th style="color: powderblue; background-color:black;">Auditorium Number:</th>

    <select id="AUDITORIUM_ID" name="AUDITORIUM_ID">
        <%for(var i = 0; auditorium.length > i; i++) { %>
        <option value="<%= auditorium[i].AUDITORIUM_ID %>"> <%= auditorium[i].AUDITORIUM_ID %> </option>
        <% } %>
    </select>
    <br/>

<br>



    <br />

    <input type="submit" />

</form>
</center>
</body>
</html>

