<html>
<head>
    <style>


        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button2 {background-color: #008CBA;} /* Blue */

        h1 {
            text-shadow: 2px 2px white;
        }
    </style>
    <title>Ticket Sales - View All</title>
</head>
<body>


<body style="background-color:powderblue;">


<div style="width:110px; margin_left:170px;">
    <h1 style="color: black; "> Ticket Sales</h1>
</div>
<button onclick="window.location.assign('/ticket_sales/add')"; class="button button2">Add Ticket Sale</button>

<table border="1">

    <th style="color: white; background-color:black;">TICKET_NUM</th>
    <th style="color: white; background-color:black;">PRICE</th>
    <th style="color: white; background-color:black;">MOVIE_ID</th>
    <th style="color: white; background-color:black;">CINEMA_ID</th>
    <th style="color: white; background-color:black;">AUDITORIUM_ID</th>

    <% for(var i=0; ticket_sales.length > i; i++) { %>
    <tr>
        <td style="color: white; background-color:black;"><%= ticket_sales[i].TICKET_NUM %></td>
        <td style="color: white; background-color:black;"><%= ticket_sales[i].PRICE %></td>
        <td style="color: white; background-color:black;"><%= ticket_sales[i].MOVIE_ID %></td>
        <td style="color: white; background-color:black;"><%= ticket_sales[i].CINEMA_ID %></td>
        <td style="color: white; background-color:black;"><%= ticket_sales[i].AUDITORIUM_ID %></td>



        <td>
            <a style="color: white; background-color:black;" href='/ticket_sales/edit/?TICKET_NUM=<%= ticket_sales[i].TICKET_NUM %>'>
                Edit
            </a>
        </td>
        <td>
            &nbsp;<a style="color: ghostwhite; background-color:black;" href="/ticket_sales/delete?TICKET_NUM=<%= ticket_sales[i].TICKET_NUM %>">
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
<% if(locals.was_successful_delete) { %>
<div>
    <p>Successful Ticket delete</p>
</div>
<% } %>


</body>
</html>