<html>
<head>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
        .button2 {background-color: #008CBA;} /* Blue */

        h1 {
            text-shadow: 2px 2px white;
        }
    </style>
        <title>Cinema - View All</title>


</head>


<body style="background-color:powderblue;">


<div style="width:110px; margin_left:170px;"/>
    <h1>Cinema</h1>

    <button onclick="window.location.assign('/cinema/add')"; class="button button2"=>Add Cinema</button>
    <button onclick="window.location.assign('/')"; class="button button2">Home Page</button>


<table border="3">

    <th style="color: ghostwhite; background-color:black;">CINEMA_ID</th>
    <th style="color: ghostwhite; background-color:black;">STREET</th>
    <th style="color: ghostwhite; background-color:black;">CITY</th>
    <th style="color: ghostwhite; background-color:black;">STATE</th>
    <th style="color: ghostwhite; background-color:black;">ZIP</th>
    <th style="color: ghostwhite; background-color:black;">NAME</th>
    <% for(var i=0; cinema.length > i; i++) { %>
    <tr>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_ID %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_STREET %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_CITY %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_STATE %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_ZIP %></td>
        <td style="color: ghostwhite; background-color:black;"> <%= cinema[i].CINEMA_NAME %></td>



        <td>
            <a style="color: ghostwhite; background-color:black;" href='/cinema/edit/?cinema_id=<%= cinema[i].CINEMA_ID %>'>
                Edit
            </a>
        </td>
        <td>
            &nbsp;<a style="color: ghostwhite; background-color:black;" href="/cinema/delete?CINEMA_ID=<%= cinema[i].CINEMA_ID %>">
                Delete
            </a>
        </td>
    </tr>
    <% } %>
</table>
    <% if(locals.was_successful_delete) { %>
    <div>
        <p>Successful Cinema delete</p>
    </div>
    <% } %>

</body>
</html>