<!DOCTYPE html>
<html>
<head>
    <title>Edit AUDITORIUM</title>
</head>
<body>
<body style="background-color:powderblue;">

<h1>Edit AUDITORIUM</h1>

<form action="/auditorium/update" method="get">
    <input type="hidden"
           id="AUDITORIUM_ID"
           name="AUDITORIUM_ID"
           value="<%= auditorium.AUDITORIUM_ID %>"
    />

    AUDITORIUM CAPACITY: <input name ="CAPACITY" type="text" value="<%= auditorium.CAPACITY%>" /><br/>


    <th style="color: powderblue; background-color:black;">Movie Name:</th>
    <br>
    <% for (var i = 0; i < movie.length; i++) {
        var checked = "";
        if (movie[i].MOVIE_ID == auditorium.MOVIE_ID) {
            checked = "checked"; } %>
    <input type = "radio" id="MOVIE_ID" name="MOVIE_ID" <%= checked %> value="<%= movie[i].MOVIE_ID %>"> <%= movie[i].MOVIE_NAME %>
    <% } %>
    </select>
    <br/>

    <br>
    <th style="color: powderblue; background-color:black;">Cinema Name:</th>
    <br>
    <% for (var i = 0; i < cinema.length; i++) {
        var checked = "";
        if (cinema[i].CINEMA_ID == auditorium.CINEMA_ID) {
            checked = "checked";  } %>
    <br />
    <input type="radio" id="CINEMA_ID" name="CINEMA_ID" <%= checked %> value="<%= cinema[i].CINEMA_ID %>"> <%= cinema[i].CINEMA_NAME %>
    <% } %>
    </select>
    <br>
    <br/>

    <br/>



    <br />


    <br />

    <input type="submit" />

</form>
</body>
</html>